
body {
    background-color: snow;
    color: black;
    font-size: 14px;
    font-family: sans-serif; 
}

h1{
    font-weight: bold;
    font-size: 18px;
    margin: auto;
}

h2{
    color: crimson;
    font-size: 16px;
    font-weight: bold;
    font-decoration: underline;
}

h3{
    font-style: italic;
    font-size: 16px;
}

p{
    margin-left: 20px;
    margin-right: 20px;
}
 
img{
    margin: auto;
    width: auto;
    height: auto;
}
