
body {
    background-color: snow;
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
    margin-left: 30px;
    margin-right: 150px;
}

h1{
    font-weight: bold;
    font-size: 25px;
    margin: auto;
    text-align: center;
}

h2{
    color: crimson;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

h3{
    font-style: italic;
    font-size: 16px;
    font-weight: lighter;
    text-align:  center;
}

p{
    margin-left: 30px;
    margin-right: 150px;
}
 
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
    height: auto;
}

a{
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    color: crimson;
}
